|===
|필드명|타입|필수여부|제한사항|설명

{{#parameters}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}{{optional}}{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}`+{{제한사항}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
{{/parameters}}
|===